*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .2s linear;
    text-transform: capitalize;
    text-decoration: none;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.main-container{
    background: url(images/background.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 2rem 7%;
    align-items: center;
}
.header .navbar a{
    font-size: 5rem;
    margin-left: 1rem;
    color: white;
    text-decoration: none;
}
.header .navbar a:hover{
    background: #ffc61a;
    padding: .5rem 3rem;
    border-radius: 15px;
}

 .navbar a{
    font-size: 5rem;
    margin-left: 1rem;
    color: white;
    text-decoration: none;
    border: #fff;
    display: inline-block;
}
 .navbar a:hover{
    background: #ffc61a;
    padding: .5rem 3rem;
    border-radius: 15px;
}



#menu-bars{
    color: white;
    font-size: 2rem;
    display: none;

}
.navbar.active{
    top: 10%;
}

.navbar{
   position: absolute;
   top: 30%;
   left: 70%;
  
}

.background-text h2{
    color: white;
    font-size: 50px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.background-text h2 span{
    color: #ffc61a;
}
.taxi-image{
   position: absolute;
   top: 8%;
   left: 10%;
  
}
.taxi-image img{
    width: 100%;
    margin-top: 260px;
}
.home-container{
    background: #ffc61a;
    padding: 2rem 7%;
    width: 100%;
    padding-top: 4rem;
    
}
.home-content{
    padding-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  
}



















@media (max-width:768px) {
    html{
        font-size: 50%;
    }
    #menu-bars{
        display: initial;
    
    }
    .navbar{
        position: absolute;
        top: -100%;
        right: 0;
        left: 0;
    }
    .navbar a{
        display: block;
        font-size: 1.5rem;
        background: #ffc61a;
        margin: 1rem;
        padding: 1rem;

    }
    .header{
        padding: 2rem;
    }
    